
.gallery_creator {
  .row img {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  figure {
    margin: 0;
    padding: 0;
  }
}